// Color
$primary-color: #433878;
$secondary-color: #7e60bf;
$third-color: #e4b1f0;
$fourth-color: #ffe1ff;
$white: #ffff;
$font-color: #0b192c;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Font Family
$primary-font: "Poppins", sans-serif;

// Breakpoints
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
